<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shsato.moneymanagerapi.summary.mapper.SummaryMapper">

    <!-- 指定期間の固定費合計・変動費合計を取得する -->
    <select id="findMonthlySummary"
            resultType="com.shsato.moneymanagerapi.summary.dto.MonthlySummaryResponse">

        SELECT
            COALESCE(
                SUM(CASE
                    WHEN expense_type = 'FIXED' THEN amount
                    ELSE 0
                END),
                0
            ) AS fixed_expense_total,
            COALESCE(
                SUM(CASE
                    WHEN expense_type = 'VARIABLE' THEN amount
                    ELSE 0
                END),
                0
            ) AS variable_expense_total,
            COALESCE(
                SUM(amount),
                0
            ) AS total_expense
        FROM expense_transactions
        WHERE user_id = #{userId}
            AND transaction_date >= #{startDate}
            AND transaction_date &lt; #{endDate}

    </select>
    <!-- 指定期間のカテゴリ別支出集計を取得する -->
    <select id="findCategorySummary"
            resultType="com.shsato.moneymanagerapi.summary.dto.CategorySummaryResponse">

        SELECT
            ec.category_id AS category_id,
            ec.category_name AS name,
            SUM(et.amount) AS amount
        FROM expense_transactions et
        INNER JOIN expense_categories ec
           ON et.category_id = ec.category_id
        WHERE et.user_id = #{userId}
            AND et.transaction_date >= #{startDate}
            AND et.transaction_date &lt; #{endDate}
        GROUP BY
            ec.category_id,
            ec.category_name
        ORDER BY
            amount DESC
    </select>

    <!-- 指定期間の支払元別支出集計を取得する -->
    <select id="findPaymentSummary"
            resultType="com.shsato.moneymanagerapi.summary.dto.PaymentSummaryResponse">

        SELECT
            pm.payment_method_id AS payment_method_id,
            pm.payment_method_name AS name,
            SUM(et.amount) AS amount
        FROM expense_transactions et
        INNER JOIN payment_methods pm
            ON et.payment_method_id = pm.payment_method_id
        WHERE et.user_id = #{userId}
            AND et.transaction_date >= #{startDate}
            AND et.transaction_date &lt; #{endDate}
        GROUP BY
            pm.payment_method_id,
            pm.payment_method_name
        ORDER BY
            amount DESC
    </select>
</mapper>